.signup-submit-button {
	width: 300px;
}

.signup-bottom-text-container {
	width: 300px;
	margin-top: 20px;
	text-align: center;
}

/* =========================================================== DESKTOP STYLES */
@media screen and (min-width: 768px) {
	.signup-submit-button {
		width: 500px;
	}

	.signup-bottom-text-container {
		width: 500px;
	}
}
