.products-container {
	width: 300px;
}

.products-actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 300px;
}

.add-product-link {
	border: 1px solid rgb(255, 255, 255);
}

.dropdown-menu {
	height: 200px;
	border-radius: 0;
	background-color: rgb(30, 30, 30);
	overflow: auto;
}

.dropdown-item {
	color: rgb(255, 255, 255);
	font-size: 15px;
}

.dropdown-item:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

.accordion-header {
	border: 1px solid rgb(30, 30, 30);
	border-radius: 0;
}

.product-detail p {
	margin-top: 2px;
	border-bottom: 1px dashed rgb(0, 0, 0);
}

.use-count-container {
	display: flex;
}

.decrement-button,
.increment-button {
	width: 20px;
	height: 20px;
	margin: 0 10px;
}

.products-icon-container {
	display: flex;
	justify-content: flex-end;
	bottom: 0;
}

.modal-cancel-button {
	border: 1px solid rgb(255, 255, 255);
}

.modal-delete-button {
	border: 1px solid rgb(30, 30, 30);
}

/* =========================================================== DESKTOP STYLES */
@media screen and (min-width: 768px) {
	.products-container {
		width: 700px;
	}

	.products-actions {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		width: 700px;
	}
}
