.products-container {
	width: 300px;
}

.products-actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 300px;
}

.add-product-button {
	margin: 0 0;
	border: 0.5px solid rgb(255, 255, 255);
}


/* =========================================================== DESKTOP STYLES */
@media screen and (min-width: 768px) {
	.products-container {
		width: 700px;
	}

	.products-actions {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		width: 700px;
	}
}
