.form-control {
	border-radius: 0;
	width: 500px;
	overflow: hidden;
}

.form-options {
	display: flex;
	justify-content: flex-end;
}

.bin-form-cancel-option,
.bin-form-submit-option {
	width: 80px;
	height: 40px;
}

.bin-form-cancel-option {
	border: none;
}
