* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: rgb(30, 30, 30);
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 20px 0;
}

h2 {
	text-align: center;
	font-family: 'Bodoni Moda', serif;
	font-size: 50px;
}

p {
	margin-bottom: 0px;
}

a,
a:hover,
a:visited {
	text-decoration: none;
	color: rgb(30, 30, 30);
	transition-duration: 0.3s;
}

.button-css {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding-top: 3px;
	border: 1px solid rgb(30, 30, 30);
	background-color: rgb(255, 255, 255);
	color: rgb(30, 30, 30);
	transition-duration: 0.3s;
}

.button-css:hover {
	border: 1px solid rgb(30, 30, 30);
	background-color: rgb(30, 30, 30);
	color: rgb(255, 255, 255);
}

header {
	top: 0;
	left: 0;
	width: 100%;
}

.app-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(30, 30, 30);
}

.nav-icon-link,
.nav-icon-link:active,
.nav-icon-link:visited {
	margin: 10px 20px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-family: 'Bodoni Moda', serif;
	font-size: 30px;
	transition: 0.5s;
}

.nav-icon-link:hover {
	transform: rotateY(180deg);
}

.nav-text-link {
	margin: 0 20px;
	padding-top: 3px;
	color: rgb(255, 255, 255) !important;
}

.nav-text-link:hover {
	border-bottom: 1px dashed rgb(255, 255, 255);
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: rgb(30, 30, 30);
	color: rgb(255, 255, 255);
}
