* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: rgb(30, 30, 30);
	font-family: 'Courier New', Courier, monospace;
}

p {
	margin-bottom: 0px;
	font-size: 15px;
}

nav {
	display: flex;
	justify-content: space-around;
}
