.bin-container {
	width: 300px;
}

.bin-actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 300px;
}

.bin-icon-container {
	display: flex;
	justify-content: flex-end;
	bottom: 0;
}

.bin-empty-message {
	margin-top: 20px;
}

/* ==================================================================== MODAL */
.modal-product-name {
	padding: 2px 5px;
	background-color: rgb(180, 140, 140, 0.3);
}

.modal-link {
	border-bottom: 1px dashed rgb(30, 30, 30);
}

.modal-remove-button {
	border: 0.5px solid rgb(30, 30, 30);
}

/* =========================================================== DESKTOP STYLES */
@media screen and (min-width: 768px) {
	.bin-actions {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		width: 700px;
	}

	.bin-container {
		min-width: 700px;
	}

	.dropdown-menu {
		width: 500px;
		height: 500px;
	}
}
