.bin-container {
	width: 300px;
}

.bin-actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 300px;
}

/* =========================================================== DESKTOP STYLES */
@media screen and (min-width: 768px) {
	.bin-container {
		min-width: 700px;
	}

	.bin-actions {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		width: 700px;
	}
}
