.home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.home::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 50%;
	background-image: url('../../assets/background-image.jpg');
	background-size: cover;
	content: '';
}

.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

h1 {
	margin-bottom: 20px;
	font-family: 'Bodoni Moda', serif;
	font-size: 60px;
}

.bins-link {
	width: 200px;
	background-color: transparent;
}
