.home {
	height: 100vh;
	margin: 0 auto;
}

.home::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 35%;
	background-image: url('../../assets/background-image.jpg');
	background-size: cover;
	content: '';
}

.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

h1 {
	margin-bottom: 20px;
	font-family: 'Bodoni Moda', serif;
	font-size: 70px;
}

.home-link-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-link {
	margin-right: 5px;
}

.login-link:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(30, 30, 30);
}

.signup-link {
	margin-left: 5px;
	background-color: rgb(30, 30, 30);
	color: rgb(255, 255, 255) !important;
	transition-duration: 0.3s;
}
