.form-label {
	margin-top: 20px;
	margin-bottom: 0;
}

.form-check {
	margin-top: 20px;
}

.form-option-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.form-cancel-option {
	width: 100px;
	border: none;
}

.form-edit-option {
	width: 100px;
}